/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Dancing+Script:700&display=swap');

.navbar-brand {
    font-family: "Dancing Script";
    color: var(--primary) !important;
    font-weight: bold;
    font-size: 32px;
}
.navbar-brand:hover {
    color: rgba(0, 76, 255) !important;
}

.nav-link:hover {
    color: var(--primary) !important;
}

.dropdown-item:hover {
    background-color: rgba(0, 123, 255, 0.1) !important;
} 

.active .nav-link {
    color: var(--primary) !important;
}

.jumbotron {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../res/background.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}