::selection {
	background-color: var(--primary);
	color: var(--white);
}

html {
	scroll-behavior: smooth;
	overflow-x: hidden;
}

/* Barre de navigation */
.nav-item .active {
	color: var(--primary) !important;
}

/* Jumbotron */
.jumbotron {
	background: linear-gradient(rgba(0, 86, 179, 0.8), rgba(0, 86, 179, 0.4)), url("../res/backgrounds/jumbotron.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;

	color: var(--light);
}

.img-services {
	width: 96px;
	height: 96px;
}

.text-services {
	margin-top: 10px;
	font-size: 24px;
	color: var(--gray);
}

/* SOCIETE */
#societe {
	background: linear-gradient(rgba(0, 86, 179, 0.6), rgba(0, 86, 179, 0.6)), url("../res/backgrounds/section-societe.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;

	color: var(--light);
}


#informations {
	background: linear-gradient(rgba(0, 86, 179, 0.6), rgba(0, 86, 179, 0.6)), url("../res/backgrounds/informations.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;

	color: var(--light);
}



@media screen and (max-width: 768px) {
  .services-item {
  	border: none !important;
  }
}